<div id="dashboard">
    <div class="topsection">
        <h1>Welcome to the Wedding Planner</h1>
        <h3><a href=#>Log Out</a></h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Wedding</th>
                <th scope="col">Date</th>
                <th scope="col">Guest</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jim & Pam</td>
                <td>Oct 12 2017</td>
                <td>5</td>
                <td>RSVP</td>
            </tr>
            <tr>
                <td>Dwight & Angela</td>
                <td>June 25 2018</td>
                <td>18</td>
                <td>Un-RSVP</td>
            </tr>
            <tr>
                <td>Mark</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
            </tr>
        </tbody>
      </table>
    <a class="btn btn-primary" href="#">New Wedding</a>

</div>