<div id="info">
    <div class="topsection">
        <h1>Dwight and Angela's Wedding</h1>
        <h3><a href=#>Log Out</a></h3>
        <h3><a href=#>Dashboard</a></h3>
    </div>
    <h2>Date: August 25, 2018</h2>
    <div class="side infoside">
        <h2>Guests:</h2>
        <div class="guests">
            <h4>Oscar Nunez</h4>
            <h4>Kevin Malone</h4>
        </div>
    </div>
    <div class="side infoside googleapi">
        Google Maps Api
    </div>
</div>